<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<!--<add key="Nexus" value="http://localhost:31998/repository/nuget-hosted" />-->
		<add key="Nexus" value="http://nexus-np.his5.com/repository/nuget-hosted" />
	</packageSources>
</configuration>
